p {
  margin: 0px 0px 0px 10px;
}
body {
  /* this style below will be inherited */
  margin: 0;
  font-family: Roboto, Arial;
  padding-left: 96px;
  padding-right: 20px;
  padding-top: 80px;
  background-color: rgb(250, 250, 250);
}
