body {
  padding-top: 70px;
}
.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e1e1e1;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo {
  height: 20px;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 30px;
  padding-left: 14px;
  border: 1px solid #cecece;
  border-radius: 20px 0px 0px 20px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  font-size: 15px;
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 15px;
}
.searchicon {
  height: 24px;
}
.search-button {
  width: 64px;
  height: 34px;
  background-color: rgb(236, 236, 236);
  border: solid 1px #cecece;
  border-radius: 0px 20px 20px 0px;
  margin-left: -1px;
  margin-right: 12px;
}
.search-button,
.voice-button,
.ytapps,
.notifbut,
.uploadicon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button .tooltip,
.uploadicon .tooltip,
.ytapps .tooltip,
.notifbut .tooltip,
.voice-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;
  font-size: 11px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.uploadicon:hover .tooltip,
.ytapps:hover .tooltip,
.notifbut:hover .tooltip,
.voice-button:hover .tooltip {
  opacity: 1;
}

.voice-button {
  border-radius: 30px;
  border: none;
  padding: 5px 5px 5px 5px;
  background-color: #f1f1f1;
}

.voiceicon {
  height: 23px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 20px;
  flex-shrink: 0;
}
.uploadsicon,
.youtubeapps,
.notificationsicon {
  height: 24px;
}

.mychannel {
  height: 32px;
  border-radius: 20px;
}
.notificon {
  position: relative;
}
.redicon {
  position: absolute;
  top: -3px;
  right: -4px;
  background-color: red;
  color: white;
  font-size: 9px;
  border-radius: 9px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  z-index: 300;
}
